/* utilities --reused all over the entire website



This is for the properties that are to be used all over the entire website so that they can be reusable and to avoid time wastage and  repetitions------------------------------*/
.container {
  max-width: 1100px;
  padding: 0 40px;
  margin: o auto;
  overflow: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn:hover {
  transform: scale(0.9);
}

.btn-primary {
  background-color: var(--primary-color);
}
.btn-secondary {
  background-color: var(--secondary-color);
}
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

/* BACKGROUDS SECTION */
.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.bg-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}
.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.bg-dark a {
  color: #fff;
}
.bg-light {
  background-color: var(--light-color);
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
code,
pre {
  background-color: var(--dark-color);
  color: #fff;
  padding: 10px;
}

.alert {
  background-color: #04b904;
  color: #fff;
  padding: 10px;
}

/* TEXT SIZES */
.text-center {
  text-align: center;
}

.lead {
  font-size: 20px;
}
.sm {
  font-size: 1rem;
}
.md {
  font-size: 2rem;
}
.lg {
  font-size: 3rem;
}
.xl {
  font-size: 4rem;
}

/* Margins top y axis */

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}

/* Margins all round */
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

/* Paddings top */
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}

/* Padding all round */
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}

/* ---------------------------------------------------- */
